@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html {
  position: relative;
  min-height: 100%;
}
body {
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  background-color: black;
}
/* APP MAIN PAGE */

.app-main {
  margin: 6vh 5vw;
  padding: 4vh 6vw;
  background-color: #fafafa;
  min-height: 70vh;
}

/* WELCOME PAGE STYLING */

.welcome-container-div {
  width: 100vw;
  height: 80vh;
}

.welcome-div {
  background-image: url('./Images/planet-pic.jfif');
  background-color: black;
  background-position: center top;
  background-repeat: no-repeat;
  object-fit: cover;
  min-height: 80vh;
}

.welcome-title {
  padding: 20vh 0 0 0;
  color: white;
  text-align: center;
  font-size: 200px;
  text-shadow: 0px 2px 2px #ffffff, 0px 4px 0px rgba(0, 0, 0, 1), 0px 2px 15px #ffffff;
}

.welcome-subtitle {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 25px;
}

/* ABOUT PAGE */
.about {
  color: white;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.612);
}

.team {
  display: flex;
  justify-content: center;
}

.teammate {
  width: 30%;
}

.logo {
  width: 30px;
  margin-right: 8px; 
  magrin-left: 8px;
}

/* ALL PLANETS PAGE */

.planet-list-title {
  display: inline;
}

.list-div {
  display: flex;
  justify-content: space-between;
}

.planet-card {
  background-color: none;
  color: black;
  background-size: 400px;
  background-position: 120% 250%;
  background-repeat: no-repeat;
  object-fit: cover;
}

/* .planet-card{
  margin: 10px 0;
  padding: 10px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
} */

/* .planet-card-name {
  display: inline;
} */

.link-button{
  border: none;
  background-color: black;
  color: aliceblue;
  padding: 5px 10px;
}

  /* PLANET CARD PICTURES */

  .Ceres {
    background-image: url('./Images/ceres-transparent.png');
  }

  .Haumea {
    background-image: url('./Images/haumea-transparent.png');
  }

  .Eris {
    background-image: url('./Images/eris-transparent.png');
  }

  .Makemake {
    background-image: url('./Images/makemake-transparent.png');
  }

  .Jupiter {
    background-image: url('./Images/jupiter-transparent.png');
  }

  .Saturn {
    background-image: url('./Images/saturn-transparent.png');
  }

  .Mars {
    background-image: url('./Images/mars-transparent.png');
  }

  .Mercury {
    background-image: url('./Images/mercury-transparent.png');
  }

  .Venus {
    background-image: url('./Images/venus-transparent.png');
  }

  .Neptune {
    background-image: url('./Images/neptune-transparent.png');
  }

  .Uranus {
    background-image: url('./Images/uranus-transparent.png');
  }

  .Pluto {
    background-image: url('./Images/pluto-transparent.png');
  }

  .Earth {
    background-image: url('./Images/earth-transparent.png');
  }



/* NAVBAR */

.navbar {
  padding: 10px;
  background-color: black;
}

.nav-link {
  margin: 0 20px;
  text-shadow: 0px 7px 15px #ffffff;
}

/* FOOTER */

.footer {
  position: absolute;
  background-color: black;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}
